/*Подключение шрифтов*/
@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Light.eot?) format("eot"),
    url(./fonts/Poppins-Light.woff2) format("woff2"),
    url(./fonts/Poppins-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Regular.eot?) format("eot"),
    url(./fonts/Poppins-Regular.woff2) format("woff2"),
    url(./fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Medium.eot?) format("eot"),
    url(./fonts/Poppins-Medium.woff2) format("woff2"),
    url(./fonts/Poppins-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Bold.eot?) format("eot"),
    url(./fonts/Poppins-Bold.woff2) format("woff2"),
    url(./fonts/Poppins-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}


